<%- include('partials/header') -%>

<body class="flex justify-center items-center ">
  <!-- This example requires Tailwind CSS v2.0+ -->
  <div class="relative overflow-hidden bg-white">
    <div class="mx-auto max-w-7xl">
      <div class="relative z-10 bg-white pb-8 sm:pb-16 md:pb-20 lg:w-full lg:max-w-2xl lg:pb-28 xl:pb-32">
        <svg class="absolute inset-y-0 right-0 hidden h-full w-48 translate-x-1/2 transform text-white lg:block" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
          <polygon points="50,0 100,0 50,100 0,100" />
        </svg>

        <div>
          <div class="relative px-4 pt-6 sm:px-6 lg:px-8">
            <nav class="relative flex items-center justify-between sm:h-10 lg:justify-start" aria-label="Global">
              <div class="flex flex-shrink-0 flex-grow items-center lg:flex-grow-0">
                <div class="flex w-full items-center justify-between md:w-auto">
                  <a href="/">
                    <span class="sr-only">BlogIO</span>
                    <img alt="BlogIO Logo" class="h-8 w-auto sm:h-10" src="./assets/img/blogiologo.png">
                  </a>
                  <div class="-mr-2 flex items-center md:hidden">
                    <button id="showBtn" type="button" class="inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-expanded="false">
                      <span class="sr-only">Open main menu</span>
                      <!-- Heroicon name: outline/bars-3 -->
                      <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
              <div class="hidden md:ml-10 md:block md:space-x-8 md:pr-4">

                <a href="/profile" class="font-medium text-gray-500 hover:text-gray-900">Profile</a>

                <a href="/feed" class="font-medium text-gray-500 hover:text-gray-900">Feed</a>

                <a href="/signup" class="font-medium text-indigo-600 hover:text-indigo-500">Register</a>

                <a href="/login" class="font-medium text-indigo-600 hover:text-indigo-500">Login</a>
              </div>
            </nav>
          </div>

          <div id="menu" class="absolute inset-x-0 top-0 z-10 origin-top-right transform p-2 transition md:hidden hidden">
            <div class="overflow-hidden rounded-lg bg-white shadow-md ring-1 ring-black ring-opacity-5">
              <div class="flex items-center justify-between px-5 pt-4">
                <div>
                  <img class="h-8 w-auto" src="./assets/img/blogiologo.png" alt="website logo">
                </div>
                <div class="-mr-2">
                  <button id="hideBtn" type="button" class="inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
                    <span class="sr-only">Close main menu</span>
                    <!-- Heroicon name: outline/x-mark -->
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                  </button>
                </div>
              </div>
              <div class="space-y-1 px-2 pt-2 pb-3">
                <a href="/profile" class="block rounded-md px-3 py-2 text-base font-medium text-gray-700 hover:bg-gray-50 hover:text-gray-900">Profile</a>

                <a href="/feed" class="block rounded-md px-3 py-2 text-base font-medium text-gray-700 hover:bg-gray-50 hover:text-gray-900">Feed</a>

                <a href="/signup" class="block rounded-md px-3 py-2 text-base font-medium text-gray-700 hover:bg-gray-50 hover:text-gray-900">Register</a>

              </div>
              <a href="/login" class="block w-full bg-gray-50 px-5 py-3 text-center font-medium text-indigo-600 hover:bg-gray-100">Login</a>
            </div>
          </div>
        </div>

        <main class="mx-auto mt-10 max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
          <div class="sm:text-center lg:text-left">
            <!-- <h1 class="font-bold text-2xl">Welcome Back :)</h1> -->
            <h1 class="font-bold text-2xl">Create an account :)</h1>

            <form class="flex flex-col bg-white rounded shadow-lg p-12 mt-12" action="/signup" method="POST">
              <label class="font-semibold text-xs" for="userName">Full name</label>
              <input id="userName" name="userName" class="flex items-center h-12 px-4 w-full bg-gray-200 mt-2 rounded focus:outline-none focus:ring-2" type="text" required>

              <label class="font-semibold text-xs" for="exampleInputEmail1">Email</label>
              <input id="exampleInputEmail1" name="email" class="flex items-center h-12 px-4 w-full bg-gray-200 mt-2 rounded focus:outline-none focus:ring-2" type="email" required>
              
              <label class="font-semibold text-xs mt-3" for="password">Password</label>
              <input id="password" name="password" class="flex items-center h-12 px-4 w-full bg-gray-200 mt-2 rounded focus:outline-none focus:ring-2"type="password" required>
              
              <label class="font-semibold text-xs mt-3" for="confirmPassword">Password</label>
              <input id="confirmPassword" name="confirmPassword" class="flex items-center h-12 px-4 w-full bg-gray-200 mt-2 rounded focus:outline-none focus:ring-2"type="password" required>
              
              <button class="flex items-center justify-center h-12 px-6 w-full bg-blue-600 mt-8 rounded font-semibold text-sm text-blue-100 hover:bg-blue-700">Register</button>
              <div class="flex mt-6 justify-center text-xs">
                <a class="text-blue-400 hover:text-blue-500" href="/login">Login</a>
              </div>
            </form>

            <% if (locals.messages.errors) { %>
                <% messages.errors.forEach( el => { %>
                    <div class="alert alert-danger"><%= el.msg %></div>
                <% }) %>    
            <% } %>
            <% if (locals.messages.info) { %>
                <% messages.info.forEach( el => { %>
                    <div class="alert alert-info"><%= el.msg %></div>
                <% }) %>    
            <% } %>

          </div>
        </main>
      </div>
    </div>
  </div>

  <script src="./home.js"></script>
</body>
    

<%- include('partials/footer') -%>